---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Link from '@/components/Link.astro'
import Layout from '@/layouts/Layout.astro'
import { Projects as projectsData } from '@/lib/profiledetail'

interface Project {
  project: string;
  details: string[];
  link: string;
}
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Projects" />
  <Breadcrumbs items={[{ label: 'Projects', icon: 'lucide:briefcase' }]} />
  <section class="flex flex-col gap-y-6">
    <div class="font-medium text-lg">My Projects</div>
    <div class="flex flex-col gap-6">
      {projectsData.map((project: Project) => (
        <div class="rounded-lg border p-6 relative">
          <div class="mb-4">
            <h3 class="font-semibold text-lg">
              <Link href={project.link} external underline>
                {project.project}
              </Link>
            </h3>
            <p class="text-muted-foreground text-sm">Project</p>
          </div>

          <ul class="list-disc list-inside space-y-2 text-sm text-muted-foreground">
            {project.details.map((detail) => (
              <li>{detail}</li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </section>
</Layout>
